/* resets */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  border: none;
  box-sizing: border-box;
  font-family: 'Squada One', cursive;
}

button {
  cursor: pointer;
  outline: none;
}

button:focus {
  outline: none;
}

/* js functionality and animation classes */
.unmatched {
  animation-name: pulse;
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  animation-duration: 0.75s;
}

.hidden {
  visibility: hidden;
}

.card-back > img {
  display: none;
}

/* parent div for individual cards */
.flip-card {
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
  height: 110px;
  width: 110px;
  border-radius: 50%;
  perspective: 1000px;
  margin: 5px;
}

/* this div is holding front and back of card */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  border-radius: 50%;
}

/* flip animation */
.clicked {
  transform: rotateY(180deg);
}

/* Position and centering the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* for Safari */
  backface-visibility: hidden;
  pointer-events: none;
}

/* re-reversing back side to not mirror itself */
.flip-card-back {
  transform: rotateY(180deg);
}

.front-image,
.back-image {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  pointer-events: none;
}



/* styling ------------------------------*/


/* pop-up---------------------- */

.main-content {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 2;
  background-image: url("assets/74693335_wide-3aff3ee4919044c417f4db9f6e6cd6cbaca22048.jpeg");
  background-size: cover; 
  background-position-x: right;
  width: 100vw;
  height: 100vh;
}
.start-popup,
.end-popup {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 3;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 150px;
  font-size: 25px;
  text-align: center;
  padding: 30px;
  border-radius: 2px;
  color: rgb(7, 7, 7);
}

.start-button, .play-again-button {
  background-color: #c01414;
  color: white;
  padding: 12px;
  border-radius: 5px;
  margin: 20px 0 0 0;
  width: 120px;
  letter-spacing: 1px;
}

.start-button {
  font-size: 32px;
}

.play-again-button {
  font-size: 20px;
}

.start-popup-text, .end-popup-text {
  width: 200px;
}

.end-popup {
  visibility: hidden;
}

.disable-popup {
  visibility: hidden;
}
.trigger-popup {
  visibility: visible;
}

/* main styling------------------------- */

.body {
  background-color: rgb(7, 7, 7);
}

.header {
  padding: 30px 0 0 0;
  display: flex;
  justify-content: center;
  z-index: 4;
}

.heading {
  text-align: center;
  color: rgb(190, 190, 190);;
}

.board {
  display: flex;
  height: 75%;
  align-items: center;
}

.card-container {
  margin: 25px 0 0 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flip-card:hover .flip-card-inner {
  box-shadow: 0px 0px 10px 5px black;
}

/* footer ---------------------- */

/* spotify */
.playlist {
  height: 80px;
  width: 80px;
  border-radius: 50%;
}

.footer {
  background-color: #c01414;
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100px;
  align-items: center;
  justify-content: space-between;
}

.timer-container {
  color: rgb(233, 233, 233);
  font-size: 26px;
  line-height: 28px;
  margin: 0 0 0 25px;
}

.timer {
  font-size: 38px;
}

.reset-button {
  color: rgb(7, 7, 7);
  font-size: 26px;
  padding: 12px;
  border-radius: 5px;
  margin: 0 25px 0 0;
  width: 90px;
}

@media only screen and (min-width: 768px) {
  .flip-card {
    height: 200px;
    width: 200px;
}

  .board {
    height: 70%;
  }

  .reset-button {
    margin: 0 120px 0 0;
  }

  .timer-container {
    margin: 0 0 0 120px;
  }

}
